@charset "utf-8";

:root {
  --main-font : "Pretendard", sans-serif; 
  --sub-font : "play", sans-serif; 
  --point-font :  "Cormorant Garamond", serif;
  --main-color : #AEBED8;
  --sub-color : #7D84B6;
  --point-color : #C2FEFE;
  --font-color : #181515;
}

body { overflow-x: hidden; line-height: 1.5; font-size: 1.5rem; font-family: var(--main-font); /* background: #F8E9EB; */ color: var(--font-color); }
button { font-family: var(--main-font);}

.inner { max-width: 1540px; margin: 0 auto; padding: 0 20px; }

/* header */
#header {  position: fixed; left: 0; top: 0; width: 100%; z-index: 999; padding: 10px 0;  }
#header .inner { display: flex; justify-content: space-between; align-items: center; gap: 20px;}
#header h1 a > img { transition: all 0.5s; display: block; width: 100%;}
#header .gnb { font-family: var(--sub-font); display: flex; gap: 80px;}
#header .gnb li a { transition: all 0.5s; display: block; padding: 10px 0; font-size: 2rem; font-weight: 600; }
#header .gnb li:hover a { color: #AEBED8; }

#header.active { border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
#header.active h1 a { filter: invert(100%);}
#header.active .gnb li a { color: #fff;}

#fp-nav ul li { height: 20px;}
#fp-nav ul li a span { height: 5px; width: 5px; background: #C4CCD8; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); transform: translate(-50%, -50%);}
#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span { width: 5px; height: 20px; border-radius: 5px; margin: 0 0 0 -2px; background: #7D84B6;}
#fp-nav ul li .fp-tooltip { color:  var(--sub-color); }
#fp-nav.active ul li .fp-tooltip { color: #fff;}

@media ( max-width : 1500px ) {
  #header .gnb { gap: 70px;}
}

@media ( max-width : 1250px ) {
  #header .gnb { gap: 60px;}
  #header .gnb li a { font-size: 1.8rem; }
}

@media ( max-width : 1024px ) {
  #header { background: rgba(255, 255, 255, 0.8);}
  #header .gnb { gap: 50px;}
  #header .gnb li a { font-size: 1.7rem; }
}

@media ( max-width : 768px ) {
  #header h1 a > img { width: 60px;}
  #header .gnb { gap: 40px;}
  #header .gnb li a { font-size: 1.6rem; }
}

@media ( max-width : 600px ) {
  #header .gnb { gap: 30px;}
  #header .gnb li a { font-size: 1.5rem; }
}

@media ( max-width : 530px ) {
  #header h1 a > img { width: 50px;}
  #header .gnb { gap: 20px;}
  #header .gnb li a { font-size: 1.4rem; }
}

@media ( max-width : 450px ) {
  #header h1 a > img { width: 45px;}
  #header .inner { gap: 10px;  }
  #header .gnb { gap: 10px; }
  #header .gnb li a { font-size: 1.3rem; }
}

@media ( max-width : 384px ) {
  #header h1 a > img { width: 40px;}
  #header .inner { gap: 5px; padding: 0 10px;  }
  #header .gnb { gap: 10px; }
}

@media ( max-width : 353px ) {
  #header .gnb li a { font-size: 1.2rem; }
}

@media ( max-width : 336px ) {
  #header .gnb li a { font-size: 1.1rem; }
}

/* footer */
#footer { position: absolute; left: 0; bottom: 0; width: 100%; background: #3B3B3B; color: #fff; text-align: center; height: 100px; display: flex; justify-content: center; align-items: center;  }


@media ( max-width : 1024px ) {
  #footer { height: 80px;}
  #footer .copy { font-size: 1.7rem; }
}

@media ( max-width : 768px) {
  #footer { height: 70px;}
  #footer .copy { font-size: 1.5rem; }
}

@media ( max-width : 500px) {
  #footer { height: 60px;}
  #footer .copy { font-size: 1.3rem; }
}

@media ( max-width : 380px) {
  #footer .copy { font-size: 1.1rem; }
}

@media ( max-width : 330px) {
  #footer .copy { font-size: 1rem; }
}