@charset "utf-8";

body { line-height: 1.5; font-family: "Noto Serif KR", serif;  }
button { font-family: "Noto Serif KR", serif; }

#wrap { padding: 0 20px;}
.img_btn {  border-radius: 50px; box-shadow: rgba(174, 190, 216,0.8) 0 15px 30px -5px; box-sizing: border-box; color: #7D84B6; font-size: 1.7rem; padding: 10px 40px; cursor: pointer; transition: all 0.5s; position: fixed; left: 70px; top: 50px; background: #fff;}
.btn01 { left: 70px;  top: 50px; }

.img_btn:hover { scale: 0.95; background: #7D84B6; color: #fff;}

.photo { width: 1000px; margin: 0 auto; }
.photo > img { display: block; width: 100%; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); margin: 0 auto;}

.popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7);}
.popup .inner { position: fixed; width: 500px; background: #fff; left: 50%; top: 50%; transform: translate(-50%,-50%); display: flex; justify-content: center; align-items: center; gap: 50px; border-radius: 100px;  padding: 40px 20px; }
.popup .inner p { transition: all 0.5s;  font-size: 2.2rem; font-weight: 500; }
.popup .inner p:hover { transform: translateY(-5px); color: #7D84B6;}

.popup .close { transition: all 0.5s; position: absolute; width: 40px; height: 40px; cursor: pointer; top: -60px; right: 15px; background: transparent; }
.popup .close::before {  position: absolute; left: 0; top: 13px; content: ""; display: block; width: 100%; height: 2px; background: #fff; transform: translate(0,5.5px) rotate(45deg); }
.popup .close::after {  position: absolute; left: 0; bottom: 13px; content: ""; display: block; width: 100%; height: 2px; background: #fff; transform: translate(0,-5.5px)  rotate(-45deg); }
.popup .close:hover{ transform: translateY(-10px);}


@media ( max-width : 1300px ) {
  .photo { width: 100%; }
}

@media ( max-width : 1024px ) {
  .img_btn { font-size: 1.5rem; padding: 10px 40px; left: 40px; top: 30px; }
  .btn01 { left: 40px;  top: 30px; }
  .btn02 { left: 40px;  top: 90px; }

  .popup .inner { width: 400px; padding: 30px 10px; gap: 40px; }
  .popup .inner p { font-size: 2rem;}
  .popup .close { width: 30px; height: 30px; top: -40px; }
  .popup .close::before { top: 9px; }
  .popup .close::after { bottom: 8px;}
}

@media ( max-width : 768px ) {
  .img_btn {  font-size: 1.4rem; padding: 10px 25px; left: 10px; top: 10px; }
  .btn01 { left: 10px;  top: 10px; }
  .btn02 { left: 10px;  top: 70px; }

  .popup .inner { width: 300px; padding: 20px 10px; gap: 30px; }
  .popup .inner p { font-size: 1.7rem;}
  .popup .close { width: 30px; height: 30px; top: -40px; }
  .popup .close::before { top: 9px; }
  .popup .close::after { bottom: 8px;}
}

@media ( max-width : 500px ) {
  #wrap { padding: 0 10px;}
  .img_btn {  font-size: 1.3rem; padding: 10px 15px; }
  .btn02 {  top: 60px; }

  .popup .inner { width: 270px; padding: 15px 10px; gap: 20px; }
  .popup .inner p { font-size: 1.7rem;}
  .popup .close { width: 30px; height: 30px; top: -40px; }
  .popup .close::before { top: 9px; }
  .popup .close::after { bottom: 8px;}
}
