@charset "utf-8";

body { line-height: 1.5; font-family: 'Pretendard', sans-serif;  color: #1A1A1A;  font-size: 1.5rem; }
#wrap { margin: 0 auto; text-align: center; padding: 100px 20px; max-width: 1540px;}
iframe { box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);}

/* main */
.tit { padding-bottom: 50px; }
.tit h1 { text-align: center; font-size: 5rem; font-weight: 600 ; }
.tit h1 > span { color: #7D84B6;}
.tit .tit_description { font-style: italic; color: #7e7e7e;}
iframe { transition: all 0.5s;}

.video_box { display: flex; gap: 30px; justify-content: center; flex-wrap: wrap; }
.video_box .name { font-size: 2rem; padding-top: 10px; font-weight: 600; }
.video_box .more { color: #6b6a6a;}

.more_edit { padding-top: 50px;}

@media ( max-width : 1024px ) {
  iframe { width: 400px; height: 225px;}
  .tit h1 { text-align: center; font-size: 4.5rem;}
}

@media ( max-width : 900px ) {
  iframe { width: 352px; height: 198px;}
}

@media ( max-width : 768px ) {
  iframe { width: 512px; height: 288px;}
  .tit { padding-bottom: 40px; }
  .video_box .name { font-size: 1.7rem; }
  .video_box .more { font-size: 1.4rem;}
}

@media ( max-width : 550px ) {
  iframe { width: 368px; height: 207px;}
  .tit h1 { text-align: center; font-size: 4rem;}
  .tit { padding-bottom: 30px; }
  .tit .tit_description { width: 350px; margin: 0 auto; }
  
  .video_box { gap: 20px; }
  .video_box .name { font-size: 1.6rem; }
  .video_box .more { font-size: 1.3rem;}
}

@media ( max-width : 380px ) {
  #wrap { padding: 150px 20px; }
  iframe { width: 304px; height: 171px; }
  .tit .tit_description { width: 270px; }
}

/* description popup */
.description { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7); }
.description .inner {  position: fixed; width: 600px; background: #fff; left: 50%; top: 50%; transform: translate(-50%,-50%);  border-radius: 100px; padding: 30px; }
.description .first { font-size: 1.7rem;}
.description h3 { font-size: 2.3rem; padding-bottom: 5px;}
.description h3> span { color: #7D84B6;}
.description h4 { padding: 30px 0 5px; font-size: 2rem;}

.description .close { transition: all 0.5s; position: absolute; width: 40px; height: 40px; cursor: pointer; top: -50px; right: 15px; background: transparent; }
.description .close::before {  position: absolute; left: 0; top: 13px; content: ""; display: block; width: 100%; height: 2px; background: #fff; transform: translate(0,5.5px) rotate(45deg); }
.description .close::after {  position: absolute; left: 0; bottom: 13px; content: ""; display: block; width: 100%; height: 2px; background: #fff; transform: translate(0,-5.5px)  rotate(-45deg); }
.description .close:hover{ transform: translateY(-10px);}

/* btn */
button { font-family: "Noto Serif KR", serif; }
.btn {  border-radius: 50px; box-shadow: rgba(174, 190, 216,0.8) 0 15px 30px -5px; box-sizing: border-box; color: #7D84B6;  display: flex; justify-content: center; align-items: center; font-size: 1.7rem; padding: 10px 40px; cursor: pointer; transition: all 0.5s; position: fixed; left: 70px; top: 50px; background: #fff;}
.btn:hover { scale: 0.95; background: #7D84B6; color: #fff;}
.description_btn { left: 70px; top: 120px;}

/* popup */
.popup { position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.7);}
.popup .inner { position: fixed; width: 500px; background: #fff; left: 50%; top: 50%; transform: translate(-50%,-50%); display: flex; justify-content: center; align-items: center; border-radius: 100px; }
.popup .inner p { transition: all 0.5s; font-size: 2.2rem; padding: 40px 20px; font-weight: 500; }
.popup .inner p:hover { transform: translateY(-5px); color: #7D84B6;}

.popup .close { transition: all 0.5s; position: absolute; width: 40px; height: 40px; cursor: pointer; top: -60px; right: 15px; background: transparent; }
.popup .close::before {  position: absolute; left: 0; top: 13px; content: ""; display: block; width: 100%; height: 2px; background: #fff; transform: translate(0,5.5px) rotate(45deg); }
.popup .close::after {  position: absolute; left: 0; bottom: 13px; content: ""; display: block; width: 100%; height: 2px; background: #fff; transform: translate(0,-5.5px)  rotate(-45deg); }
.popup .close:hover{ transform: translateY(-10px);}

@media ( max-width : 1024px ) {
  .btn { font-size: 1.5rem; padding: 10px 40px; left: 40px; top: 30px; }
  .description_btn { left: 40px;  top: 90px; }

  .popup .inner { width: 400px; padding: 30px 10px; }
  .popup .inner p { font-size: 2rem;}
  .popup .close { width: 30px; height: 30px; top: -40px; }
  .popup .close::before { top: 9px; }
  .popup .close::after { bottom: 8px;}
}

@media ( max-width : 768px ) {
  .btn {  font-size: 1.4rem; padding: 10px 25px; left: 10px; top: 10px; }
  .description_btn { left: 10px;  top: 70px; }

  .popup .inner { width: 300px; padding: 20px 10px; }
  .popup .inner p { font-size: 1.7rem;}
  .popup .close { width: 30px; height: 30px; top: -40px; }
  .popup .close::before { top: 9px; }
  .popup .close::after { bottom: 8px;}
}

@media ( max-width : 500px ) {
  
  .btn {  font-size: 1.3rem; padding: 10px 15px; }
  .description_btn {  top: 60px; }

  .popup .inner { width: 270px; padding: 15px 10px; }
  .popup .inner p { font-size: 1.7rem;}
  .popup .close { width: 30px; height: 30px; top: -40px; }
  .popup .close::before { top: 9px; }
  .popup .close::after { bottom: 8px;}
}